{% extends 'base.html.twig' %}
{% block title %}{{ 'profile.manage'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-6 no-pad">
                        <div class="user-image">
                            <img src="https://robohash.org/{{ user.email }}" class="img-responsive thumbnail">
                        </div>
                    </div>
                    <div class="col-md-6 no-pad">
                        <div class="user-pad">
                            <h3>{{ 'profile.wellcome_back'|trans }} {{ user.fullName }}</h3>
                            <a class="btn btn-labeled btn-info" href="{{ path('user_edit') }}">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>{{ 'button.update'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row overview">
                    <div class="col-md-4 user-pad text-center">
                        <h3>{{ 'profile.articles'|trans }}</h3>
                        <h4>{{ user.userArticles.countArticles }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>{{ 'profile.likes'|trans }}</h3>
                        <h4>{{ user.userLikes.countLikes }}</h4>
                    </div>
                    <div class="col-md-4 user-pad text-center">
                        <h3>{{ 'profile.comments'|trans }}</h3>
                        <h4>{{ user.userComments.countComments }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
