{% extends 'base.html.twig' %}
{% block title %}{{ 'menu.register'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="h3 mb-3 font-weight-normal">{{ 'button.register'|trans }}</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.fullName) }}
                {{ form_row(registrationForm.password.first) }}
                {{ form_row(registrationForm.password.second) }}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/security.js') }}"></script>
{% endblock %}
