{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_id 'homepage' %}

{% block main %}
    {% for article in pagination %}
        <div class="article-container my-1">
            <a href="{{ path('article_show', {slug: article.slug}) }}">
                <img class="article-img" src="{{ asset('images/default-image.png') }}">
                <div class="article-title d-inline-block pl-3 align-middle">
                    <span>{{ article.title }}</span>
                    <br>
                    <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/placeholder.png') }}"> {{ article.author.fullName }} </span>
                    <span class="pl-5 article-details float-right"> {{ article.publishedAt|date("m/d/Y") }}</span>
                </div>
            </a>
        </div>
    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

    {#<h1>Manage Articles ({{ pagination.getTotalItemCount }})</h1>#}

    {#{{ knp_pagination_render(pagination) }}#}
{% endblock %}

{% block sidebar %}
    <div class="ad-sidebar-blog mx-auto mt-1 pb-2 pt-2">
        <img class="sidebar-img" src="{{ asset('images/rocket.png') }}">
        <p><span class="sidebar-text">New:</span> Coming Soon</p>
        <button class="btn btn-info">Go!</button>
    </div>

    <div class="quote-space pb-2 pt-2 px-5">
        <h3 class="text-center pb-3">New Comments</h3>
        {% for comment in comments %}
            <p>
                <i class="fa fa-comment"></i> {{ comment.content }}<br>— <a href="{{ path('article_show', {slug: comment.article.slug}) }}">{{ comment.author.fullName }}, {{ comment.publishedAt|date("m/d/Y") }}</a>
            </p>
        {% else %}
        <div class="well">Comments not found</div>
        {% endfor %}
    </div>
{% endblock %}
