{% extends 'base.html.twig' %}

{% block title %}{{ 'category.list'|trans }}{% endblock %}

{% block body_id 'category_list' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    {% for category in categories %}
        <article class="category">
            <h2>
                <a href="{{ path('category_show', {slug: category.slug}) }}">
                    {{ category.title }}
                </a>
                <div style="float: right;">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        {% set isSubscribe = false %}
                        {% for subscription in category.subscriptions.values %}
                            {% if  subscription.user == app.user%}
                                {% set isSubscribe = true %}
                            {% endif %}
                        {% endfor %}

                        {% if isSubscribe == true %}
                            <a href="{{ path('category_unsubscribe', {slug: category.slug}) }}" class="btn btn-warning">{{ 'button.unsubscribe'|trans }}</a>
                        {% else %}
                            <a href="{{ path('category_subscribe', {slug: category.slug}) }}" class="btn btn-success">{{ 'button.subscribe'|trans }}</a>
                        {% endif %}

                    {% endif %}

                    <a href="{{ path('category_edit', {slug: category.slug}) }}" class="btn btn-xs btn-warning">Edit</a>
                </div>
            </h2>
        </article>
    {% else %}
        <div class="well">{{ 'category.no_found'|trans }}</div>
    {% endfor %}
    
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
