{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.home'|trans }}{% endblock %}

{% block body_id 'homepage' %}

{% block main %}
    <h2>{{ 'articles.new'|trans }}</h2>
    {% for article in pagination %}
        <div class="article-container my-1">
            <a href="{{ path('article_show', {slug: article.slug}) }}">
                <img class="article-img" src="{{ asset('images/default-image.png') }}">
                <div class="article-title d-inline-block pl-3 align-middle">
                    <span>{{ article.title }}</span>
                    <br>
                    <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/placeholder.png') }}"> {{ article.author.fullName }} </span>
                    <span class="pl-5 article-details float-right"> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
                </div>
            </a>
        </div>
    {% else %}
        <div class="well">{{ 'article.no_found'|trans }}</div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\HomeController::sidebar')) }}
{% endblock %}
