<div class="sidebar-wrap list-comments pb-2 pt-2 px-5">
    <h3 class="text-center pb-3">{{ 'comments.new'|trans }}</h3>
    {% for comment in comments %}
        <p>
            <i class="fa fa-comment"></i> <a href="{{ path('article_show', {slug: comment.article.slug}) }}">{{ comment.content|striptags }}</a><br> {{ comment.author.fullName }}, {{ comment.publishedAt|date("j F Y, H:i:s") }}
        </p>
    {% else %}
        <div class="well">{{ 'comment.no_found'|trans }}</div>
    {% endfor %}
</div>

<div class="sidebar-wrap pb-2 pt-2 px-5">
    <h5 class="text-center pb-3">{{ 'category.to_subscribe'|trans }}</h5>
    <a href="{{ path('category_list') }}">{{ 'subscribe_here'|trans }}</a>
</div>

<div class="sidebar-wrap list-categories pb-2 pt-2 px-5">
    <h3 class="text-center pb-3">{{ 'categories'|trans }}</h3>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('category_show', {slug: category.slug}) }}">
                    {{ category.title }}
                </a>
                <span class="badge badge-primary badge-pill">{{ category.articles|length }}</span>
            </li>
        {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ 'category.no_found'|trans }}</li>
        {% endfor %}
    </ul>
</div>
