{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.tag_list'|trans }}{% endblock %}

{% block body_id 'tag_index' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    {% for tag in tags %}
        <article class="post">
            <h2>
                {{ tag.name }}
                <div style="float: right;"><a href="{{ path('tag_edit', {slug: tag.slug}) }}" class="btn btn-xs btn-warning">{{ 'action.edit'|trans }}</a></div>
            </h2>
        </article>
    {% else %}
        <div class="well">{{ 'tag.no_found'|trans }}</div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(tags) }}
    </div>

{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
