{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.tag'|trans }}{% endblock %}

{% block body_id 'tag_show' %}
    
{% block main %}
    {{ wo_render_breadcrumbs() }}

    <h1>{{ tag.name|upper }}
        <div style="float: right;"><a href="{{ path('tag_edit', {slug: tag.slug}) }}" class="btn btn-xs btn-warning">{{ 'action.edit'|trans }}</a></div>
    </h1>
    {% for article in articles %}

        {{ include('article/_item_detail.html.twig', {article: article}) }}

    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(articles) }}
    </div>
    
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
