{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_article_index' %}

{% block main %}
    <h2>{{ 'title.article_list'|trans }}</h2>
    {% for article in articles %}
        <article class="post" style="border-bottom:1px solid #ccc;">
            <h2>{{ article.title }}</h2>
            <p>
                <a href="{{ path('admin_article_show', {id: article.id}) }}" class="btn btn-sm btn-default">
                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                </a>
            </p>

            <p class="post-metadata">
                {#<span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt|date("m/d/Y") }}</span>#}
                <span class="metadata"><i class="fa fa-user"></i> by {{ article.author.fullName }}</span>
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ article.body }}
            </div>

        </article>
    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}



{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_article_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_article'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
