{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_article_show' %}
    
{% block main %}
    <h1>{{ article.title|upper }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt|date("m/d/Y") }}</span>
        <span class="metadata"><i class="fa fa-user"></i> by {{ article.author.fullName }}</span>
    </p>

    <p>Category: {{ article.category.title }}</p>

    <p>Tags:<br/>
        {% for tag in article.tags %}
            <a href="{{- path('tag_show', {id: tag.id}) -}}" class="btn btn-outline-primary btn-sm">{{ tag.name }}</a>
        {% endfor %}
    </p>

    <p>{{ article.body }}</p>

    <div id="article-add-comment" class="well">
        <h3>Add Comment</h3>
        {{ render(controller('App\\Controller\\ArticleController::commentForm', {'id': article.id})) }}
    </div>

    <h3>
        Total comments: {{ article.comments|length }}
    </h3>
    {% for comment in article.comments %}
        <div class="row article-comment">
            <a name="comment_{{ comment.id }}"></a>
            <div class="col-sm-4">
                <h4>{{ comment.author.fullName }}</h4> (<i>{{ comment.publishedAt|date("m/d/Y") }}</i>)
            </div>
            <div class="col-sm-8">
                {{ comment.content }}
            </div>
        </div>
    {% else %}
        <div class="article-comment">
            <p>Not comments</p>
        </div>
    {% endfor %}
    
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_article_edit', {id: article.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/article/_delete_form.html.twig', {article: article}, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}
