{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_article_show' %}
    
{% block main %}
    <h1>{{ article.title|upper }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ 'by'|trans }} {{ article.author.fullName }}</span>
    </p>

    <p>{{ 'category'|trans }}: {{ article.category.title }}</p>

    <p>{{ 'tags'|trans }}:<br/>
        {% for tag in article.tags %}
            <a href="{{- path('tag_show', {slug: tag.slug}) -}}" class="btn btn-outline-primary btn-sm">{{ tag.name }}</a>
        {% endfor %}
    </p>

    <p>{{ article.body }}</p>

    <div id="article-add-comment" class="well">
        <h3>{{ 'comment.add' }}</h3>
        {{ render(controller('App\\Controller\\Web\\ArticleController::commentForm', {'id': article.id})) }}
    </div>

    <h3>
        {{ 'comment.total'|trans }}: {{ article.comments|length }}
    </h3>
    {% for comment in article.comments %}
        <div class="row article-comment">
            <a name="comment_{{ comment.id }}"></a>
            <div class="col-sm-4">
                <h4>{{ comment.author.fullName }}</h4> (<i>{{ comment.publishedAt|date("j F Y, H:i:s") }}</i>)
            </div>
            <div class="col-sm-8">
                {{ comment.content }}
            </div>
        </div>
    {% else %}
        <div class="article-comment">
            <p>{{ 'comment.no_found'|trans }}</p>
        </div>
    {% endfor %}
    
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_article_edit', {slug: article.slug}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/article/_delete_form.html.twig', {article: article}, with_context = false) }}
    </div>

    {{ parent() }}

{% endblock %}
