<div class="article-container my-1">
    <a href="{{ path('article_show', {slug: article.slug}) }}">

        {% if article.image is not null %}
            <img class="show-article-img" src="{{ asset(image_article_thumbnail_display ~ article.image.alt) }}" alt="{{ article.image.alt }}"/>
        {% else %}
            <img class="show-article-img" src="{{ asset('images/default-image.png') }}"/>
        {% endif %}
        <div class="article-title d-inline-block pl-3 align-middle">
            <span>{{ article.title }}</span>
            <br>
            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/placeholder.png') }}"> {{ article.author.fullName }} </span>
            <span class="pl-5 article-details float-right"> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
            <div class="font-italic">{{ 'category'|trans }}: {{ article.category.title }}</div>
            <div class="font-italic">{{ 'tags'|trans }}:
                {% for tag in article.tags %}
                    {{ tag.name }}
                {% endfor %}
            </div>
            <p>{{ article.body|length > 20 ? article.body|striptags|slice(0, 20) ~ '...' : article.body|striptags}}</p>
        </div>
    </a>
</div>
