{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body_id 'article_show' %}
    
{% block main %}
    <h1>{{ article.title|upper }} <div style="float: right;"><a href="{{ path('article_edit', {slug: article.slug}) }}" class="btn btn-xs btn-success">Edit</a></div></h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ article.author }}</span>
    </p>

    {{ article.body }}
    
{% endblock %}
