{% extends 'base.html.twig' %}

{% block title %}{{ 'List articles'|trans }}{% endblock %}

{% block body_id 'article_list' %}

{% block main %}
    {% for article in articles %}
        <article class="post">
            <h2>
                <a href="{{ path('article_show', {id: article.id}) }}">
                    {{ article.title }}
                </a>
                <div style="float: right;"><a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-xs btn-warning">Edit</a></div>
                <div style="float: right;"><a href="{{ path('article_delete', {id: article.id}) }}" class="btn btn-xs btn-danger">Delete</a></div>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt|date("m/d/Y") }}</span>
                <span class="metadata"><i class="fa fa-user"></i> by {{ article.author.fullName }}</span>
            </p>

            <p>Tags:<br/>
                {% for tag in article.tags %}
                    <a href="{{- path('tag_show', {id: tag.id}) -}}" class="btn btn-outline-primary btn-sm">{{ tag.name }}</a>
                {% endfor %}
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ article.body }}
            </div>
            
        </article>
    {% else %}
        <div class="well">{{ 'Articles not found'|trans }}</div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
    
{% endblock %}
