{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.article_list'|trans }}{% endblock %}

{% block body_id 'article_list' %}

{% block main %}

    {% for article in articles %}
        <article class="post">
            <h2>
                <a href="{{ path('article_show', {slug: article.slug}) }}">
                    {{ article.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
                <span class="metadata"><i class="fa fa-user"></i> by {{ article.author.fullName }}</span>
            </p>

            <p>Tags:
                {% for tag in article.tags %}
                    <a href="{{- path('tag_show', {slug: tag.slug}) -}}" class="btn btn-outline-primary btn-sm">{{ tag.name }}</a>
                {% endfor %}
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ article.body }}
            </div>

        </article>
    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\HomeController::sidebar')) }}
{% endblock %}
