{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.article_list'|trans }}{% endblock %}

{% block body_id 'list_new_articles' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    {% for article in articles %}

        {{ include('article/_item_detail.html.twig', {article: article}) }}

    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
