{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}
    <h2>New Articles:</h2>
    {% for article in articles %}
        <article class="post" style="border-bottom:1px solid #ccc;">
            <h2>
                <a href="{{ path('article_show', {id: article.id}) }}">
                    {{ article.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ article.publishedAt|date("m/d/Y") }}</span>
                <span class="metadata"><i class="fa fa-user"></i> by {{ article.author.fullName }}</span>
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ article.body }}
            </div>

        </article>
    {% else %}
        <div class="well">Articles not found</div>
    {% endfor %}



{% endblock %}

{% block sidebar %}
    <h3>First comments:</h3>
    {% for comment in comments %}
        <article class="comment" style="border-bottom:1px solid #ccc;">
            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ comment.publishedAt|date("m/d/Y") }}</span>
                <span class="metadata"><i class="fa fa-user"></i> by {{ comment.author.fullName }}</span>
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ comment.content }}
            </div>
            <p style="text-align: right;">For article - {{ comment.article.title }}</p>
        </article>
    {% else %}
        <div class="well">Comments not found</div>
    {% endfor %}
{% endblock %}
