{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.article_list'|trans }}{% endblock %}

{% block body_id 'list_articles' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    <h2>{{ 'title.article_list'|trans }}</h2>

    {% for article in articles %}
        <div class="article-container my-1">
            <a href="{{ path('article_show', {slug: article.slug}) }}">

                {% if article.image is not null %}
                    <img class="show-article-img" style="width: 100px; height: 100px;" src="{{ asset(image_article_thumbnail_display ~ article.image.alt) }}" alt="{{ article.image.alt }}">
                {% else %}
                    <img class="article-img" src="{{ asset('images/default-image.png') }}">
                {% endif %}
                <div class="article-title d-inline-block pl-3 align-middle">
                    <span>{{ article.title }}</span>
                    <br>
                    <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/placeholder.png') }}"> {{ article.author.fullName }} </span>
                    <span class="pl-5 article-details float-right"> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
                    <br>
                    {{ article.body|truncate(20)|raw }}
                </div>
            </a>
        </div>
    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('article_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_article'|trans }}
        </a>
    </div>

    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
