{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.article_list'|trans }}{% endblock %}

{% block body_id 'list_new_articles' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    {% for catTitle, arrArticle in articles %}
        <h5>{{ catTitle }}:</h5>

        {% for article in arrArticle %}

            {{ include('article/_item_detail.html.twig', {article: article}) }}

        {% else %}
            <div class="well">{{ 'article.no_posts_found'|trans }}</div>
        {% endfor %}
        <hr/>

    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
