{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.article_list'|trans }}{% endblock %}

{% block body_id 'list_articles' %}

{% block main %}
    {{ wo_render_breadcrumbs() }}

    <h3>{{ 'article.published'|trans }}</h3>

    {% for article in publishedArticles %}

        {{ include('article/_item_detail.html.twig', {article: article}) }}

    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}

    <h3 style="color: red;">{{ 'article.not_published'|trans }}</h3>

    {% for article in notPublishedArticles %}

        {{ include('article/_item_detail.html.twig', {article: article}) }}

    {% else %}
        <div class="well">{{ 'article.no_posts_found'|trans }}</div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('article_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_article'|trans }}
        </a>
    </div>

    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
