{% extends 'base.html.twig' %}

{% block title %}{{ 'user.list'|trans }}{% endblock %}

{% block body_id 'user_articles' %}

{% block main %}
    {% for article in articles %}
        <article class="post">
            <h2>
                <a href="{{ path('article_show', {id: article.id}) }}">
                    {{ article.title }}
                </a>
                <div style="float: right;"><a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-xs btn-warning">{{ 'action.edit' }}</a></div>
                <div style="float: right;"><a href="{{ path('article_delete', {id: article.id}) }}" class="btn btn-xs btn-danger">{{ 'action.delete' }}</a></div>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date("j F Y, H:i:s") }}</span>
            </p>

            <div class="col-md-12 col-lg-12 col-xl-12">
                {{ article.body }}
            </div>

        </article>
    {% else %}
        <div class="well">{{ 'article.no_found'|trans }}</div>
    {% endfor %}

{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\Web\\HomeController::sidebar')) }}
{% endblock %}
