{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.user'|trans }}{% endblock %}

{% block body_id 'user_show' %}

{% block main %}
    <h1>{{ user.fullName }} <div style="float: right;"><a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-xs btn-success">{{ 'action.edit'|trans }}</a></div>
        <div style="float: right;"><a href="{{ path('user_delete', {id: user.id}) }}" class="btn btn-xs btn-danger">{{ 'action.delete'|trans }}</a></div>
    </h1>

    <p class="post-metadata">
        <span class="metadata">{{ user.username }}</span>
        <span class="metadata">{{ user.email }}</span>
    </p>

{% endblock %}
